/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
	--green-color: #1D6154;
	--brown-color: #B1663C; 
}
/* 
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: var(--brown-color);
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--green-color);
}
nav ul {
	display: flex;
	align-items: center;
	
	
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: var(--brown-color);
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--green-color);
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** partie boutons filtres ***/
/** before **/
button {
	font-family: 'Syne';
	font-weight: 700;
	min-width: 100px;
	margin: 10px;
	padding: 10px 19px;
	border-radius: 60px;
	background-color: white;
	color: var(--green-color);
}

div button {
	gap: 10px;
	margin-top: 50px;
}
/** sélection **/
button:hover {
	background-color: var(--green-color);
	color:white;
	cursor: pointer;
}
/** focus sur l'un **/
button:focus {
	background-color: var(--green-color);
	color: white;
}

/** mode edition **/
.userLogged {
	padding-top: 50px;
}

.editor {
	box-sizing: border-box;
	background-color: black;
	color: white;
	display: none;
	justify-content: center;
	align-items: center;
	padding: 20px;
	font-size: 16px;
	gap: 15px
}
.userLogged .editor {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.modifier {
	display: none;
	text-align: center;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	color: black;
}

.userLogged .modifier {
	display: inline;
}



/** modifier les images **/
.overlay{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pannel {
	background-color: white;
	border-radius: 10px;
	width: 630px;
	height: 688px;
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
}
.pannel svg{
	align-self: end;
	padding: 10px;
}
.title{
	text-align: center;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
}
.line{
	background-color: #B3B3B3;
	height: 1px;
	width: 420px;
	margin: 50px 0;
}
#ajout{
	height: 36px;
}
.modification {
	display: none;
}

.modification.open {
    display: unset;
}
/*** style box pop-up ***/
#gallery-modification {
	max-width: 420px;
	margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.visible div button {
	margin-top: 20px;
}
#gallery-modification img{
width: 78px;
margin: 3px;
align-items: flex-start;
}

.image-container {
    position: relative; /* Fait de la div un conteneur de positionnement */
	gap: 4px;
}
.image-container img {
    display: block; /* Assure que l'image est un bloc pour éviter les marges indésirables */
    width: 100%; /* Ajuste la largeur de l'image à la largeur de la div */
    height: 100px; /* Permet de conserver la même hauteur pour chacune */

}
.image-container svg {
    position: absolute; /* Positionne l'icône SVG par rapport à la div */
    top: 0px; /* Déplace l'icône SVG de 10px depuis le haut de la div */
    right: 0px; /* Déplace l'icône SVG de 10px depuis la droite de la div */
}
/** style ajout **/
.visible {
	display: flex;
	flex-direction: column;
    align-items: center;
}
.hidden {
	display: none;
	flex-direction: column;
    align-items: center;
}


.ajout-photo svg{
	align-self: center;
	padding-top: 13px;
	width: 76px;
	height: 76px;
	flex-shrink: 0;
}
#addButton {
	margin: 0;
	background-color: #CBD6DC;
	color: #306685;
	border-style: hidden;
}
.ajout-photo .paragraphe {
	padding: 10px;
}
.flex-center{
	display: flex;
	flex-direction: column;
}
.flex-center .title {
	margin: 20px 0;
}
.cadre-ajout {
	width: 420px;
}
.ajout-photo{
	display: flex;
	flex-direction: column;
    align-items: center;
	background-color: #E8F1F6;
	width: 100%;
	height: 169px;
	border-radius: 3px;
}
.ajout-text {
	display:flex;
	flex-direction: column;
    align-items: stretch;
	padding-bottom: 47px;
	margin-top: 20px;
}
#categorie {
	width: 100%;
}
.svg-delete {
	position: relative;
	top: 0;
	right: 0;
	flex-shrink: 0;
	padding: 1px;
	background-color: black;
	border-radius: 10%;
}

#svg-retour-close {
	display: flex;
	justify-content: space-between;
}

.image-container svg {
	padding: 4px;
	margin: 10px;
}

#ajout-hide {
    display: flex;
    flex-direction: column;
}

#valider-photo {
	display: flex;
	align-items: center;
}

.pannel svg :hover{
	cursor: pointer;
}

.userLogged .modifier:hover {
	cursor: pointer;
}

#contact input:hover {
	cursor: pointer;
}